*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #E4F0FA;
  font-family: 'Lato', sans-serif;
}

header {
    z-index: 9999;
    background-color: #E4F0FA;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    transition: top 0.2s ease-in-out;
  }

  .nav-up {
    top: -10vh;
  }

  .logo {
    text-decoration: none;
    font-family: 'Courier Prime', monospace;
    padding-left: 1.5rem;
    font-size: 2rem;
    color: black;
  }

  nav {
    padding-right: 1.5rem;
  }

  .nav__link {
    color: #FF2200;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
  }

  .nav__link:hover,
  .logo:hover {
    color: black;
  }

  .section-1 {
    height: 70vh;
    padding: 1rem;
  }

  body {
    color: #272727;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
  }

  .main{
    max-width: 1800px;
    margin: 0 auto;
  }

  .section-1 {
    margin-top: 30vh;
  }

  h1 {
    color: black;
    font-weight: 900;
    font-size: 2.2rem;
    margin: 0;
  }

  h2 {
    color: #FF2200;
    font-weight: 900;
    font-size: 3rem;
  }

  h3 {
    color: #FF2200;
    font-weight: 300;
    font-size: 1rem;
    padding-top: 10px;
    margin: auto;
    align-content: center;
  }

  .project {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 35px;
}

  .project img {
      width: 100%;
  }

  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }

  .contact-section,
  .work-section {
    padding: 1rem;
  }

  .container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #FF2200;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .contact-information {
    height: 50vh;
  }

  .contact-information a {
    color: #FF2200;
    text-decoration: none;
    margin-bottom: 10px;
    padding-bottom: 5px;
    transition: ease .6s;
    align-content: center;
  }

  .contact-information a:hover {
    color: black;
    transition: ease .6s;
  }

  .list-contact-item {
    display: flex;
    padding-bottom: 20px;
  }

  .svg-icon {
    height: 1.3rem;
    width: 1.3rem;
    fill: #FF2200;
    margin-right: 20px;
  }

  .contact-text {
    margin: 0;
    font-size: 1.3rem;
  }


  @media (min-width: 600px) {

    .portfolio .project-wrapper {
      display: flex;
      flex-wrap: wrap;
  }

    .portfolio .project {
      width: calc(50% - 10px);
      margin: 0 5px;
  }

    h1 {
      color: black;
      font-weight: 900;
      font-size: 2.5rem;
      margin: 0;

    }
  
    h2 {
      color: #FF2200;
      font-weight: 900;
      font-size: 3rem;
    }
  
    h3 {
      color: #FF2200;
      font-weight: 300;
      font-size: 1.5rem;
      padding-top: 5px;
      margin: auto;
      align-content: center;
    }

    .list-contact-item {
      display: flex;
      padding-bottom: 20px;
      margin-left:20px;
    }
  
    .svg-icon {
      height: 2rem;
      width: 2rem;
      fill: #FF2200;
      margin-right: 20px;
    }
  
    .contact-text {
      margin: 0;
      font-size: 2rem;
    }

  }

  @media (min-width: 1024px) {


    .portfolio .project-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 30px; 
      
  }
  .portfolio .project {
      width: calc(33.33333% - 10px);
      margin: 0 5px;
  }

    h1 {
      color: black;
      font-weight: 900;
      font-size: 4rem;
      margin: 0;
    }
  
    h2 {
      color: #FF2200;
      font-weight: 900;
      font-size: 3rem;
    }
  
    h3 {
      color: #FF2200;
      font-weight: 300;
      font-size: 1.75rem;
      padding-top: 5px;
      margin: auto;
      align-content: center;
    }
    .list-contact-item {
      display: flex;
      padding-bottom: 30px;
      margin-left: 75px;
    }
  
    .svg-icon {
      height: 2.5rem;
      width: 2.5rem;
      fill: #FF2200;
      margin-right: 20px;
    }
  
    .contact-text {
      margin: 0;
      font-size: 2.5rem;
    }
  }